<div>
  <%=link_to hotel.name, trip_hotel_booking_path(@trip, hotel), class: "btn btn-hotel_show", id:"button-hotel_show"%>
</div>
<br>
<div>
  <i class="fas fa-map-marker"></i>
  <p class="address"> <%= hotel.address %></p>
</div>
<div>
  <i class="fas fa-info-circle"></i>
  <p class="description"> $<%= hotel.price %></p>
</div>
