<h1> <%= activity.name  %></h1>
<div>
  <i class="fas fa-map-marker"></i>
  <p> <%= activity.address %></p>
</div>
<p> <%= activity.category %></p>
<div>
  <i class="fas fa-info-circle"></i>
  <p> <%= activity.description %></p>
</div>
