<div>
  <%= link_to trip.destination, trip_path(trip), class: "btn btn-hotel_show", id:"button-hotel_show" %>
</div>
<br>
<p>Arrival date: <strong><%= trip.date_coming.strftime("%b %d, %Y") %></strong></p>
<p>Leaving date: <strong><%= trip.date_leaving.strftime("%b %d, %Y") %></strong></p>
