
.show {
  display: flex;
  padding-top: 100px;
}

#left {
  min-width: 300px;
  text-align: left;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 50px;
  border-right: 1px solid black;
}

#filters {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

#right {
  padding-right: 50px;
}

#destination {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  text-align: left;
}

.day-program {
  margin-bottom: 50px;
  margin-left: 100px;
}

.day {
  display: flex;
  justify-content: space-between;
}

.card {
  min-width: 900px;
  overflow-y:scroll;
  z-index:1;
  margin-top: 20px;
  margin-bottom: 60px;
  padding:20px;
  justify-content: space-between;
  background-color: black;
}

#default-card {
  margin-left: 100px;
  background-color: rgb(230, 230, 230);
}

#default-card-content {
  color: #BF9D51;
}

#default-activity-icon {
  border-right: 1px solid white;
  color: #BF9D51;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-icon {
  color: #BF9D51;
}

#default-activity-infos {
  border-right: 1px solid white;
  color: #BF9D51;
  display: flex;
  align-items: center;
  justify-content: center;
}

#default-edit-icon {
  color: #BF9D51;
  display: flex;
  align-items: center;
  justify-content: center;
}

#activity-icon {
  border-right: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-content {
  color:white;
}

#activity-infos {
  border-right: 1px solid white;
  padding-left:30px;
  padding-right: 30px;
}

#edit-icon {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hotel {
  padding-left: 100px;
}

#activities {
  padding-left: 100px;
}

#v-pills-overview-tab {
  min-width: 200px;
}

#v-pills-date-tab {
  min-width: 200px;
}
