.team_header {
  margin-top: 125px;
  display: grid;
  place-items: center;
}

.team {
  display: grid;
}

.Friedrich {
  display: flex;
}

.Oscar {
  display: flex;
}

.Louis {
  display: flex;
}

.name {
  width: 75%;
  background-color: white;
  padding-left: 5px;
}

.image_box {
  width: 25%;
  height: 400px;
  background-color: black;
}
