<%# <div class="col-md-4">
    <input type="destination" class="form-control" id="inputDestination" placeholder="Destination">
  </div>
  <div class="col-md-4">
    <input type="date" class="form-control" id="inputDistrict" placeholder="District">
  </div>
  <div class="col-md-4">
    <input type="Number" class="form-control" id="inputNumber" min="1" placeholder="How many people are you?">
  </div>
  <div class="input-group col-md-4 mt-5 mb-3">
  <button tsype="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Activity</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">dinner</a></li>
    <li><a class="dropdown-item" href="#">drinks</a></li>
    <li><a class="dropdown-item" href="#">brunch</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">museum</a></li>
  </ul>
  <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="dinner">
</div>
  <div class="col-md-2 mt-5">
    <input type="date" class="form-control" id="inputdate" placeholder="date & time">
  </div>
  <div class="col-md-2 mt-5">
    <input type="time" class="form-control" id="inputNumber" min="1" placeholder="time">
  </div>
  <div class="input-group mb-3 mt-5 col-md-4">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="add friends" aria-label="Username" aria-describedby="basic-addon1">
</div>
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
  <a class="ml-2 mt-1">add activities</a>

 %>
