
<%= render 'layouts/navbar' %>

<div id="below-navbar">
  <div id="slogan-buttons">
    <div id="slogan">
      <h1 id="title">
        LE TRIP?
        <br>
        LE CONCIERGE.
      </h1>
    </div>
    <div>
      <% if policy(Trip).create? %>
        <%= link_to "SIGN UP", new_trip_path, class: "btn btn-primary", id:"button-home-1" %>
      <% end %>
      <% if policy(Trip).create? %>
        <%= link_to "BOOK A TRIP", new_trip_path, class: "btn btn-primary", id:"button-home-2" %>
      <% end %>
    </div>
  </div>
</div>

<div id="home-text">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae, quibusdam eum saepe animi laboriosam eius repellendus aut numquam sed praesentium sit at dolorem voluptas et deleniti quod corrupti exercitationem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae, quibusdam eum saepe animi laboriosam eius repellendus aut numquam sed praesentium sit at dolorem voluptas et deleniti quod corrupti exercitationem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae, quibusdam eum saepe animi laboriosam eius repellendus aut numquam sed praesentium sit at dolorem voluptas et deleniti quod corrupti exercitationem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae, quibusdam eum saepe animi laboriosam eius repellendus aut numquam sed praesentium sit at dolorem voluptas et deleniti quod corrupti exercitationem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae, quibusdam eum saepe animi laboriosam eius repellendus aut numquam sed praesentium sit at dolorem voluptas et deleniti quod corrupti exercitationem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae, quibusdam eum saepe animi laboriosam eius repellendus aut numquam sed praesentium sit at dolorem voluptas et deleniti quod corrupti exercitationem.</p>
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-center mt-5">
      <i class="material-icons" style="font-size:24px;">ramen_dining</i>
        <h4>Dinner</h4>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <i class="material-icons" style="font-size:24px;">local_bar</i>
        <h4>Drinks</h4>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <i class="material-icons" style="font-size:24px;">brunch_dining</i>
        <h4>Brunch</h4>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <i class="material-icons" style="font-size:24px;">celebration</i>
        <h4>Party</h4>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <i class="material-icons" style="font-size:24px;">museum</i>
        <h4>Culture</h4>
    </div>
    <div class="d-flex justify-content-center mt-5 mb-5">
      <i class="material-icons" style="font-size:24px;">surfing</i>
        <h4>Outdoor Activities</h4>
    </div>
    </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae, quibusdam eum saepe animi laboriosam eius repellendus aut numquam sed praesentium sit at dolorem voluptas et deleniti quod corrupti exercitationem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae, quibusdam eum saepe animi laboriosam eius repellendus aut numquam sed praesentium sit at dolorem voluptas et deleniti quod corrupti exercitationem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae, quibusdam eum saepe animi laboriosam eius repellendus aut numquam sed praesentium sit at dolorem voluptas et deleniti quod corrupti exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae, quibusdam eum saepe animi laboriosam eius repellendus aut numquam sed praesentium sit at dolorem voluptas et deleniti quod corrupti exercitationem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae, quibusdam eum saepe animi laboriosam eius repellendus aut numquam sed praesentium sit at dolorem voluptas et deleniti quod corrupti exercitationem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae, quibusdam eum saepe animi laboriosam eius repellendus aut numquam sed praesentium sit at dolorem voluptas et deleniti quod corrupti exercitationem.</p>
  </div>
</div>


<%= render 'layouts/footer' %>
