<div id="below-navbar">
  <div id="slogan-buttons">
    <div id="slogan">
      <h1 id="title" style= "font-style: italic;">LE</h1>
      <h1 id="title">CONCIERGE. </h1>
    </div>
    <% if user_signed_in? %>
    <div>
        <%= link_to "BOOK A TRIP", new_trip_path, class: "btn btn-primary", id:"button-home-2" %>
    </div>
    <% else %>
    <div>
        <%= link_to "SIGN UP", new_trip_path, class: "btn btn-primary", id:"button-home-1" %>
        <%= link_to "BOOK A TRIP", new_trip_path, class: "btn btn-primary", id:"button-home-2" %>
    </div>
    <% end %>
  </div>
</div>

<div id="home-text">
  <strong></strong>
  <h2 id="home-about", style= "font-style: italic;">WHAT IS LE CONCIERGE?</h2>
  <h4 id="center_h4">Le Concierge is a digital concierge service that provides personal recommendations for a trip of your choice.</h4>
  <h4 id="center_h4">We offer high quality suggestions and respond to individual wishes and needs.</h4>
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-center mt-5">
      <i class="material-icons" style="font-size:24px;">ramen_dining</i>
        <h4>Dinner</h4>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <i class="material-icons" style="font-size:24px;">local_bar</i>
        <h4>Drinks</h4>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <i class="material-icons" style="font-size:24px;">brunch_dining</i>
        <h4>Brunch</h4>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <i class="material-icons" style="font-size:24px;">celebration</i>
        <h4>Party</h4>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <i class="material-icons" style="font-size:24px;">museum</i>
        <h4>Culture</h4>
    </div>
    <div class="d-flex justify-content-center mt-5 mb-5">
      <i class="material-icons" style="font-size:24px;">surfing</i>
        <h4>Outdoor Activities</h4>
    </div>
  </div>
</div>
<div class="homeflex">
  <div class="homeflex1" id="flexbox_black">
    <%= link_to "INSPIRATION", new_trip_path, class: "btn btn-primary", id:"button-home-2" %>
  </div>
  <div class="homeflex1" id="flexbox_white">
    <p> "LeConcierge has broadened my horizons" - Steve Jobs </p>
    </div>
</div>
