<div class="team_header">
  <div><i class="fas fa-concierge-bell" style="font-size:30px;" id="navbar_concierge_bell"></i></div>
  <div><h1> The Team </h1></div>
</div>

<br>

<div class="team">
  <div class="Friedrich">
    <div class="image_box_friedrich">
    </div>
    <div class="name">
      <h2>Friedrich Zoellner</h2>
      <p> Friedrich is a graduate in business administration and has developed a preference for top hotels with excellent concierge service. His dream is to combine first class design with the best service possible. </p>
      <p><strong>When I was young I wanted to be ...</strong></p>
      <p>a professional soccer star at bayern munich and future ballon d‘or winner.</p>
      <p><strong>Working for LeConcierge means ...</strong></p>
      <p>joy and fulfillment every single day with the vision to be part of shaping the future of travelling.</p>
      <div class="icon_linkedin">
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </div>
  <br>
  <div class="Oscar">
    <div class="name">
      <h2>Oscar Sodian</h2>
      <p> Oscar joined LeConcierge in Madrid from Canada and can cover the areas of business and law. His dream is to give people from all over the world access to inspiring journeys such as his own.</p>
      <p><strong>When I was young I wanted to be ...</strong></p>
      <p>Something</p>
      <p><strong>Working for LeConcierge means ...</strong></p>
      <p>Something</p>
      <div class="icon_linkedin">
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
    <div class="image_box_oscar">
    </div>
  </div>
  <br>
  <div class="Louis">
    <div class="image_box_louis">
    </div>
    <div class="name">
      <h2>Louis Labes</h2>
      <p> Louis oversees the special projects for LeConcierge. He dreams of offering an inclusive all-round service for exciting customers without any barriers.</p>
      <p><strong>When I was young I wanted to be ...</strong></p>
      <p>the biggest colector of Lego Star Wars spaceships and figures and decorate my whole house with it.</p>
      <p><strong>Working for LeConcierge means ...</strong></p>
      <p>being so curious and openminded about your projects as you are in your own adventours.</p>
      <div class="icon_linkedin">
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </div>
</div>
