<div class="team_header">
  <div><i class="fas fa-concierge-bell" style="font-size:30px;" id="navbar_concierge_bell"></i></div>
  <div><h1> The Team </h1></div>
</div>

<br>

<div class="team">
  <div class="Friedrich">
    <div class="image_box">
      <img src="friedrich.jpg" alt="friedrich_bild">
    </div>
    <div class="name">
      <h2>Friedrich Zoellner</h2>
      <p> Friedrich is a graduate in business administration and has developed a preference for top hotels with excellent concierge service. His dream is to combine first class design with the best service possible. </p>
    </div>
  </div>
  <br>
  <div class="Oscar">
    <div class="image_box">
      <img src="friedrich.jpg" alt="friedrich_bild">
    </div>
    <div class="name">
      <h2>Oscar Sodian</h2>
      <p> Oscar joined LeConcierge in Madrid from Canada and can cover the areas of business and law. His dream is to give people from all over the world access to inspiring journeys such as his own.</p>
    </div>
  </div>
  <br>
  <div class="Louis">
    <div class="image_box">
      <img src="louis.PNG" alt="louis_bild">
    </div>
    <div class="name">
      <h2>Louis Labes</h2>
      <p> Louis oversees the special projects for LeConcierge. He dreams of offering an inclusive all-round service for exciting customers without any barriers.</p>
    </div>
  </div>
</div>
