<div class="team_header d-flex justify-content-center">
  <div class="mt-1 mr-3 text-center"><h2 id="le-concierge" style="font-size:54px !important;"> LE TEAM</h2></div>
  <div><i class="fas fa-concierge-bell text-center" style="font-size:60px;" id="navbar_concierge_bell"></i></div>
</div>

<br>

<div class="team">
  <div class="Member">
    <div class="image_box_friedrich">
    </div>
    <div class="name">
      <h2>Friedrich Zoellner</h2>
      <p> Friedrich is a graduate in business administration and has developed a preference for top hotels with excellent concierge service. His dream is to combine first class design with the best service possible. </p>
      <p><strong>When I was young I wanted to be ...</strong></p>
      <p>a professional soccer star at bayern munich and future ballon d‘or winner.</p>
      <p><strong>Working for LeConcierge means ...</strong></p>
      <p>joy and fulfillment every single day with the vision to be part of shaping the future of travelling.</p>
      <div  class="icon_linkedin">
        <a href="https://www.linkedin.com/in/friedrich-zoellner-b06886195/"><i class="fab fa-linkedin" style="font-size:48px;"></i></a>
      </div>
    </div>
  </div>
  <br>
  <div class="Member">
    <div class="name">
      <h2>Oscar Sodian</h2>
      <p> Oscar joined LeConcierge in Madrid from Canada and can cover the areas of business and law. His dream is to give people from all over the world access to inspiring journeys such as his own.</p>
      <p><strong>When I was young I wanted to be ...</strong></p>
      <p>a less retarded person than I actually became</p>
      <p><strong>Working for LeConcierge means ...</strong></p>
      <p>filling my life with at least some kind of meaning</p>
      <div  class="icon_linkedin">
        <a href="https://www.linkedin.com/in/oscar-sodian-8939791a7/"><i class="fab fa-linkedin" style="font-size:48px;"></i></a>
      </div>
    </div>
    <div class="image_box_oscar">
    </div>
  </div>
  <br>
  <div class="Member">
    <div class="image_box_louis">
    </div>
    <div class="name">
      <h2>Louis Labes</h2>
      <p> Louis is like Jonah Hill in Wardogs: A prick but still one of the most likable persons in Western Europe. He oversees the special projects for LeConcierge. He dreams of offering an inclusive all-round service for exciting customers without any barriers.</p>
      <p><strong>When I was young I wanted to be ...</strong></p>
      <p>the biggest colector of Lego Star Wars spaceships and figures and decorate my whole house with it.</p>
      <p><strong>Working for LeConcierge means ...</strong></p>
      <p>being so curious and openminded about your projects as you are in your own adventours.</p>
      <div  class="icon_linkedin">
        <a href="https://www.linkedin.com/in/louis-labes-0350ab189/"><i class="fab fa-linkedin" style="font-size:48px;"></i></a>
      </div>
    </div>
  </div>
</div>
