.btn-primary {
letter-spacing: 3px;
font-weight: bold;
border-radius: 0 !important;
background-color: white;
color: black;
border: 1px solid #EFC465;
}

.btn-primary:hover {
  border-radius: 0 !important;
  background-color: rgb(189, 187, 187);
  color: black;
  border: 1px solid rgb(189, 187, 187);
}

#button-home-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 65px;
  padding-right: 65px;
  margin-right: 20px;
}

#button-home-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 20px;
  background-color: black;
  color: white;
  border: 1px solid #997E41;
}

#button-home-2:hover {
  border-radius: 0 !important;
  background-color: rgb(58, 57, 57);
  color: white;
  border: 1px solid rgb(58, 57, 57);
}

.btn.sign_up {
  letter-spacing: 3px;
  font-weight: normal;
  border-radius: 0 !important;
  background-color: white;
  color: black;
  border: 1px solid #EFC465;
}

.btn.sign_up:hover {
  border-radius: 0 !important;
  background-color: rgb(189, 187, 187);
  color: black;
  border: 1px solid rgb(189, 187, 187);
}

#button-sign_up {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 65px;
  padding-right: 65px;
  margin-right: 20px;
}

.btn.log_in {
  letter-spacing: 3px;
  font-weight: normal;
  border-radius: 0 !important;
  background-color: white;
  color: black;
  border: 1px solid #EFC465;
}

.btn.log_in:hover {
  border-radius: 0 !important;
  background-color: rgb(189, 187, 187);
  color: black;
  border: 1px solid rgb(189, 187, 187);
}

#button-log_in {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 65px;
  padding-right: 65px;
  margin-right: 20px;
}
