.page-footer {
  padding-top: 100px;
  padding-left: 130px;
  text-align: center;
  background-color: rgba(235, 235, 235, 0.2);
}
 .footer-copyright {
  background-color: rgba(235, 235, 235, 0.2);
 }

 .Link {
   margin-top: 8px;
 }

 .Link a {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
 }
