.footer_border {
  margin-top: 80px;
  margin-left: 350px;
  margin-right: 350px;
  border-style: solid;
  border-width: 1px;
  border-left:none;
  border-right:none;
  border-bottom: none;
  border-color: #A8A8A8;
}

.page-footer {
  padding-left: 130px;
}

 .footer-copyright {
  background-color: rgba(235, 235, 235, 0.2);
 }

 .Link {
   margin-top: 8px;
 }

 .Link a {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
 }
