<!-- Footer -->
<div class="footer_border"></div>

<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h4 class="font-weight-bold text-uppercase mt-3 mb-4">About</h4>

        <ul class="list-unstyled">
          <li class="Link">
            <a href="#!">LeConcierge LuxeEdition</a>
          </li>
          <li class="Link">
            <a href="#!">LeConcierge Awards</a>
          </li>
          <li class="Link">
            <a href="#!">About us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h4 class="font-weight-bold text-uppercase mt-3 mb-4">Community</h4>

        <ul class="list-unstyled">
          <li class="Link">
            <a href="#!">Dickpics Louis Labes</a>
          </li>
          <li class="Link">
            <a href="#!">LeDate</a>
          </li>
          <li class="Link">
            <a href="#!">LeFuck</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h4 class="font-weight-bold text-uppercase mt-3 mb-4">Host</h4>

        <ul class="list-unstyled">
          <li class="Link">
            <a href="#!">Community Center</a>
          </li>
          <li class="Link">
            <a href="#!">Service Center</a>
          </li>
          <li class="Link">
            <a href="#!">Ariana Grande Nudes</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h4 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h4>

        <ul class="list-unstyled">
          <li class="Link">
            <a href="#!">Arbeitsamt</a>
          </li>
          <li  class="Link">
            <a href="#!">Shiqptar Mafia</a>
          </li>
          <li  class="Link">
            <a href="#!">Frank Rosin</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <!-- Copyright -->

</footer>
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://LeConciergeINC.com">LeConciergeINC.com</a>
  </div>
<!-- Footer -->
</body>
