<nav class="navbar navbar-expand-lg navbar-lights p-3">
  <div class="navbar-brand anti_link">
    <h3>LE CONCIERGE</h3>
  </div>
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link anti_link mr-3" href="#">About us<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link anti_link mr-3" href="#">Our Team</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item anti_link mr-3">
          <%= link_to "LOGIN", new_user_session_path, class: "nav-item" %>
        </li>
        <li class="nav-item anti_link mr-3">
          <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "nav-item" %>
        </li>
    </ul>
</nav>
